permissions:
  contents: write
name: CI

# Trigger aggiornati
on:
  push:
    branches:
      - main
    tags:
      - 'v*'
      - 'test-release'
  pull_request:

env:
  CRATE_NAME: nasa-wallpaper
  GITHUB_TOKEN: ${{ github.token }}

jobs:
  test:
    name: ${{ matrix.platform.os_name }} with rust ${{ matrix.toolchain }}
    runs-on: ${{ matrix.platform.os }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - os_name: Linux-x86_64
            os: ubuntu-22.04
            target: x86_64-unknown-linux-gnu
            bin: nasa-wallpaper
            name: nasa-wallpaper-Linux-x86_64-gnu.tar.gz
            skip_tests: true
          - os_name: Linux-aarch64
            os: ubuntu-22.04
            target: aarch64-unknown-linux-gnu
            bin: nasa-wallpaper
            name: nasa-wallpaper-Linux-aarch64-gnu.tar.gz
            skip_tests: true
          - os_name: Linux-arm
            os: ubuntu-22.04
            target: arm-unknown-linux-gnueabi
            bin: nasa-wallpaper
            name: nasa-wallpaper-Linux-arm-gnu.tar.gz
            skip_tests: true
          - os_name: Linux-i686
            os: ubuntu-22.04
            target: i686-unknown-linux-gnu
            bin: nasa-wallpaper
            name: nasa-wallpaper-Linux-i686-gnu.tar.gz
            skip_tests: true
          - os_name: Windows-aarch64
            os: windows-latest
            target: aarch64-pc-windows-msvc
            bin: nasa-wallpaper.exe
            name: nasa-wallpaper-Windows-aarch64.zip
            skip_tests: true
          - os_name: Windows-i686
            os: windows-latest
            target: i686-pc-windows-msvc
            bin: nasa-wallpaper.exe
            name: nasa-wallpaper-Windows-i686.zip
            skip_tests: true
          - os_name: Windows-x86_64
            os: windows-latest
            target: x86_64-pc-windows-msvc
            bin: nasa-wallpaper.exe
            name: nasa-wallpaper-Windows-x86_64.zip
            skip_tests: true
          - os_name: macOS-x86_64
            os: macOS-latest
            target: x86_64-apple-darwin
            bin: nasa-wallpaper
            name: nasa-wallpaper-Darwin-x86_64.tar.gz
            skip_tests: true
          - os_name: macOS-aarch64
            os: macOS-latest
            target: aarch64-apple-darwin
            bin: nasa-wallpaper
            name: nasa-wallpaper-Darwin-aarch64.tar.gz
            skip_tests: true
        toolchain:
          - stable

    steps:
      - uses: actions/checkout@v4
      - name: Cache cargo & target directories
        uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1
        with:
          key: "v2"
      - name: Configure Git
        run: |
          git config --global user.email "jdoe@example.com"
          git config --global user.name "J. Doe"
      - name: Install musl-tools on Linux
        run: sudo apt-get update --yes && sudo apt-get install --yes musl-tools
        if: contains(matrix.platform.name, 'musl')
      - name: Build binary
        uses: houseabsolute/actions-rust-cross@9a1618ffb70e8374ab5f48fcccea3ebeacf57971
        with:
          command: "build"
          target: ${{ matrix.platform.target }}
          toolchain: ${{ matrix.toolchain }}
          args: "--locked --release"
          strip: true
      - name: Run tests
        uses: houseabsolute/actions-rust-cross@9a1618ffb70e8374ab5f48fcccea3ebeacf57971
        with:
          command: "test"
          target: ${{ matrix.platform.target }}
          toolchain: ${{ matrix.toolchain }}
          args: "--locked --release"
        if: ${{ !matrix.platform.skip_tests }}
      - name: Package as archive
        shell: bash
        run: |
          cd target/${{ matrix.platform.target }}/release
          if [[ "${{ matrix.platform.os }}" == "windows-latest" ]]; then
            7z a ../../../${{ matrix.platform.name }} ${{ matrix.platform.bin }}
          else
            tar czvf ../../../${{ matrix.platform.name }} ${{ matrix.platform.bin }}
          fi
          cd -
        if: |
          matrix.toolchain == 'stable' &&
          ( startsWith( github.ref, 'refs/tags/v' ) ||
            github.ref == 'refs/tags/test-release' )
      - name: Publish release artifacts
        uses: actions/upload-artifact@v4
        with:
          name: nasa-wallpaper-${{ matrix.platform.os_name }}
          path: "nasa-wallpaper-*"
        if: matrix.toolchain == 'stable' && github.ref == 'refs/tags/test-release'
      - name: Generate SHA-256
        run: shasum -a 256 ${{ matrix.platform.name }}
        if: |
          matrix.toolchain == 'stable' &&
          matrix.platform.os == 'macOS-latest' &&
          ( startsWith( github.ref, 'refs/tags/v' ) ||
            github.ref == 'refs/tags/test-release' )
      - name: Publish GitHub release
        uses: softprops/action-gh-release@6cbd405e2c4e67a21c47fa9e383d020e4e28b836
        with:
          draft: true
          files: "nasa-wallpaper*"
        if: matrix.toolchain == 'stable' && startsWith( github.ref, 'refs/tags/v' )
